$cabinet-space: 100px;

body {
    display: flex;
    flex-wrap: wrap;
}

header {
    margin-left: $cabinet-space;
    width: calc(100% - #{$cabinet-space});
}

nav {
    // margin-left: $cabinet-space;
    // margin-right: $cabinet-space;
    // width: calc(100% - #{$cabinet-space});
    width: 100%;
    clip-path: polygon(0% 100%, $cabinet-space 0%, 100% 0%, calc(100% - #{$cabinet-space}) 100%);
}

main {
    margin-right: $cabinet-space;
    width: calc(100% - #{$cabinet-space});
}

aside.profile {
    margin-left: $cabinet-space;
    width: calc((100% - (#{$cabinet-space} * 2)) / 2);
}

aside#styles {
    margin-right: $cabinet-space;
    width: calc((100% - (#{$cabinet-space} * 2)) / 2);
}

footer {
    margin-left: $cabinet-space;
    width: calc(100% - #{$cabinet-space});
}



// Temporary - because svg too big
svg {
    width: 50px;
    height: 50px;
}
