// Space at the edge of the screen, outside the cabinet (viewport → cabinet gap)
$cabinet-edge-margin: 1.5rem;
// Width of the cabinet’s side (3D “thickness” that insets content from the cabinet frame)
$cabinet-side-width: 100px;

body {
    display: flex;
    flex-wrap: wrap;
    padding: $cabinet-edge-margin;
}

header {
    margin-left: $cabinet-side-width;
    width: calc(100% - #{$cabinet-side-width});
}

nav {
    width: 100%;
    clip-path: polygon(0% 100%, $cabinet-side-width 0%, 100% 0%, calc(100% - #{$cabinet-side-width}) 100%);
}

main {
    margin-right: $cabinet-side-width;
    width: calc(100% - #{$cabinet-side-width});
}

aside.profile {
    margin-left: $cabinet-side-width;
    width: calc((100% - (#{$cabinet-side-width} * 2)) / 2);
}

aside#styles {
    margin-right: $cabinet-side-width;
    width: calc((100% - (#{$cabinet-side-width} * 2)) / 2);
}

footer {
    margin-left: $cabinet-side-width;
    width: calc(100% - #{$cabinet-side-width});
}



// Temporary - because svg too big
svg {
    width: 1em;
    height: 1em;
}
