body {
  color: $color-background;
  background-color: $color-background;
}

@media (min-width: $bp-medium) {
  body {
    background-color: $color-background;
  }
}

@media (min-width: $bp-wide) {
  body {
    background-color: $color-primary-alt;
  }
}