$color-primary: #526cff;
$color-primary-alt: #D9B036;
$color-secondary: #d92B2B;
$color-background: #282626;

// Arcade screen palette
$arcade-yellow: #ffff00;
$arcade-blue: #00ffff;
$arcade-green: #17e617;
$arcade-red: #ff1717;
$arcade-black: #000000;

$brand-colors: (
  primary: $color-primary,
  primary-alt: $color-primary-alt,
  secondary: $color-secondary,
) !default;

$color-body: scale-color(
  $color-primary,
  $lightness: -30%,
  $saturation: -50%
) !default;
$color-gray: mix(#e4e4e4, $color-body, 70%);

$colors: map-merge(
  $brand-colors,
  (
    background: $color-background,
    text: $color-body,
    light: #D9CD2B,
  )
);

@function color($key) {
  @return map-get($colors, $key);
}

@function svgColor($color) {
  @return "%23" + str-slice("#{color($color)}", 2, -1);
}

$link-color: color(primary);
$border-radius: 8px;

$font-weight-strong: 500;
$font-size-h1: 6rem;
$font-size-h2: 3rem;
$font-size-h3: 2rem;
$font-size-h4: 1.35rem;
$font-size-text: 1.15rem;
$font-size-small: 0.75rem;

$font-sizes: (
  h1: $font-size-h1,
  h2: $font-size-h2,
  h3: $font-size-h3,
  h4: $font-size-h4,
  text: $font-size-text,
  small: $font-size-small,
);

// stylelint-disable
:root {
  @each $key, $color in $colors {
    --color-#{$key}: #{$color};
  }

  --color-anchor: #{$link-color};
  --color-arcade-black: #{$arcade-black};
  --font-family: "Press Start 2P", monospace;
  --font-family-heading: "Orbitron", sans-serif;
  --font-weight-strong: #{$font-weight-strong};

  @each $key, $size in $font-sizes {
    --font-size-#{$key}: #{$size};
  }

  --border-radius: #{$border-radius};
}
