// Footer grid layout with 4 columns

.page-footer {
  @include breakpoint(wide) {
    margin-top:  0;
    padding-top: 0;
    min-height: 600px;
    color:#fff;
    // darken the background color
    background-color: $color-cabinet-bottom;
  }
  @include breakpoint(medium) {
    background-color: $arcade-black;
    color: $arcade-green;
  }

  .container > p:first-child {
    margin-bottom: 5rem;

    @include breakpoint(medium) {
      margin-bottom: 2.5rem;
    }
  }


  div {
    padding: 2em;
    width: 100%;
  }
  ul {
    @include breakpoint(wide) {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 2rem;
      list-style: none;
      padding: 0;
      margin: 0;
      background-color: --color-background;
    }

    @include breakpoint(medium) {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      list-style: none;
      padding: 0;
      margin: 0;
      margin-bottom: 2.5rem;
    }

    li {
      text-decoration: none;

      @include breakpoint(medium) {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
      }
    }

    li::before {
      @include breakpoint(medium) {
        content: "▶";
        flex-shrink: 0;
        margin-right: 0.75rem;
        display: block;
        animation: arcade-nudge 3s steps(1) infinite;
        margin-left: 2rem;
        color: $arcade-blue;
      }
    }
  }
  p {
    margin-top: 2rem;
  }
  a {
    list-style-type: none;
    text-decoration: none;
    color: $arcade-blue;

    &:hover {
      color: $arcade-green;
    }
  }

  .link-github svg,
  .link-github svg path {
    fill: currentColor;
  }
}

