aside {
  background-color: $color-background;
  width: 50%;
  margin: 0;
  text-align: center;

  @include breakpoint(small) {
    width: 100%;
  }

  @include breakpoint(medium) {
    width: 100%;
  }
}

aside.profile h4 {
  color: $arcade-yellow;
}

aside.profile > .container > ul {
  background-color: $arcade-red;
  width: 250px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  border-radius: 50%;
  font-size: 12px;
  padding: 40px;
}

aside.profile,
aside#styles {
  padding: 15px 0;
}

aside#styles > .container {
  max-width: 510px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include breakpoint(small) {
    display: block;
    height: auto;
  }

  @include breakpoint(medium) {
    height: auto;
    margin-left: 150px;
  }
}

aside#styles > .container > h2,
aside#styles > .container > a {
  border: $color-background solid 2px;
  border-radius: 15px;
  background-color: $arcade-red;
  padding: 10px;
}

aside#styles > .container > ul.features {
  display: grid;
  max-width: 550px;
  grid-template-columns: 1fr 1fr;
  font-size: 15px;
  gap: 3px;
  padding-inline-start: 0;

  @include breakpoint(small) {
    display: block;
  }

  @include breakpoint(medium) {
    display: block;
  }

  @include breakpoint(medium-large) {
    display: block;
    font-size: small;
  }
}

aside#styles li {
  border-radius: 15px;
  border: $color-background solid 2px;
  max-width: 250px;
  height: 75px;
  background-color: $arcade-green;
  margin: 0 auto;

  @include breakpoint(medium-large) {
    height: 50px;
  }
}

aside li {
  list-style: none;
}
