#main .container {
  display: flex;
  flex-direction: column;
  min-width: 0;
  max-width: 100%;
}

main {
  color: white;
  background-color: $color-background;
  border: none;
  min-width: 0;
  max-width: 100%;
  overflow-wrap: break-word;
  word-break: break-word;

  @media (min-width: $bp-medium) {
    border: 0.5rem solid $color-background;
  }

  > .container {
    background-color: $arcade-black;
  }

  a {
    color: $arcade-blue;
  }

  a:hover,
  a:focus {
    color: $arcade-green;
  }

  h2 {
    color: $arcade-green;
  }

  h3 {
    color: $arcade-red;
  }

  li {
    color: $arcade-yellow;
  }
}
