nav {
    ul {
        li {
            transform: rotate(-40deg);
            font-size: small;
            a {
                text-decoration: none;
                color: black;
            }
        }

        display: flex;
        justify-content: space-evenly;
        list-style: none;
    }
    
    padding: 15px;
    background-color: $color-primary;
}